<div class="admin-bar">
    <p class="admin-bar__current-user"><%= userInfo.username %></p>
    <nav class="admin-bar__nav">
        <ul class="admin-bar__nav-list">
            <li class="admin-bar__nav-item">
                <a href="/indlaegsarkiv" class="admin-bar__nav-link">Indlægsarkiv</a>
            </li>
            <li class="admin-bar__nav-item">
                <a href="/opret-indlaeg" class="admin-bar__nav-link">Opret indlæg</a>
            </li>
            <% if (userInfo.username === "jannickvh") { %>
                <li class="admin-bar__nav-item">
                    <a href="/opret-bruger" class="admin-bar__nav-link">Opret bruger</a>
                </li>
            <% } %>
        </ul>
    </nav>
    <form action="/log-out" method="POST">
        <button type="submit" class="admin-bar__logout">
            <svg class="admin-bar__logout-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
        </button>
    </form>
</div>