<div class="admin-bar">
    <p class="admin-bar__current-user"><%= userInfo.username %></p>
    <nav class="admin-bar__nav">
        <ul class="admin-bar__nav-list">
            <li class="admin-bar__nav-item">
                <a href="/alle-indlaeg" class="admin-bar__nav-link">Alle indlæg</a>
            </li>
            <li class="admin-bar__nav-item">
                <a href="/opret-indlaeg" class="admin-bar__nav-link">Opret indlæg</a>
            </li>
        </ul>
    </nav>
    <form action="/log-out" method="POST">
        <button type="submit">Log ud</button>
    </form>
</div>