<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/lsd0vjz.css">
    <link rel="stylesheet" href="/style.css">
    <script src="functions.js" defer></script>
    <title>
        <% if (locals.pageTitle) { %>
            <%= pageTitle %>
        <% } %>
    </title>
</head>
<body>
    <header class="header">
        <div class="header__inner">
            <a href="/" class="header__home-link">JpdPK</a>

            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="/" class="header__nav-link">Forside</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>