<%- include("partials/header.ejs") %>

<form class="form" action="/create-post" method="POST">
    <legend class="form__legend">Nyt indlæg</legend>

    <div class="form__field-group">
        <label class="form__label" for="posttitle">Titel *</label>
        <input class="form__input" type="text" name="posttitle" required>
    </div>

    <div class="form__field-group">
        <label class="form__label" for="postimage">Billede *</label>
        <input class="form__input" type="text" name="postimage" required>
    </div>

    <fieldset>
        <div class="form__field-group">
            <label class="form__label" for="bakery">Bageri/Konditori *</label>
            <input class="form__input" type="text" name="bakery" required>
        </div>

        <div class="form__field-group">
            <label class="form__label" for="city">By *</label>
            <input class="form__input" type="text" name="city" required>
        </div>

        <div class="form__field-group">
            <label class="form__label" for="zipcode">Postnummer *</label>
            <input class="form__input" type="text" name="zipcode" required>
        </div>
    </fieldset>

    <div class="form__field-group">
        <label class="form__label" for="tier">Tier *</label>
        <input class="form__input" type="text" name="tier" required>
    </div>

    <div class="form__field-group">
        <label class="form__label" for="postexcerpt">Uddrag *</label>
        <textarea name="postexcerpt" id="postexcerpt" required></textarea>
    </div>

    <div class="form__field-group">
        <label class="form__label" for="postcontent">Indhold - skrives i markdown *</label>
        <textarea name="postcontent" id="postcontent" required></textarea>
    </div>

    <button class="form__submit" type="submit">Opret indlæg</button>
</form>

<%- include("partials/footer.ejs") %>