<%- include("partials/header.ejs") %>

<h1>404 – Side ikke fundet</h1>

<p>Jeg beklager. Siden, du ledte efter, blev ikke fundet. Det kan skyldes følgende:</p>

<ul>
    <li>Siden er blevet fjernet.</li>
    <li>Siden er blevet flyttet.</li>
    <li>Du tastede en forkert adresse i adressefeltet.</li>
</ul>

<a href="/">Tilbage til forsiden</a>

<%- include("partials/footer.ejs") %>