<%- include("partials/header.ejs") %>

<main class="content">
    <div class="content__inner">
        <form class="form form--super-narrow" action="sign-up" method="POST">
            <h1>Opret bruger</h1>

            <div class="form__field-group">
                <label class="form__label" for="username">Brugernavn *</label>
                <input 
                    class="form__input" 
                    type="text" 
                    name="username" 
                    placeholder="johndoe" 
                    required 
                    autofocus
                >
            </div>

            <div class="form__field-group">
                <label class="form__label" for="fullname">Fulde navn *</label>
                <input 
                    class="form__input" 
                    type="text" 
                    name="fullname" 
                    placeholder="John Doe" 
                    required
                >
            </div>

            <div class="form__field-group">
                <label class="form__label" for="password">Adgangskode *</label>
                <input 
                    class="form__input" 
                    type="password" 
                    name="password" 
                    required
                >
            </div>

            <button class="button button--cta form__submit" type="submit">Opret</button>
        </form>
    </div>
</main>

<% if (locals.loggedIn) { %>
    <%- include("partials/admin-bar.ejs") %>
<% } %>

<%- include("partials/footer.ejs") %>