<%- include("../partials/header.ejs") %>

<h1>
    <% if (locals.posttitle) { %>
        <%= posttitle %>
    <% } %>
</h1>

<% if (locals.postcontent) { %>
    <%- postcontent %>
<% } %>

<%- include("../partials/footer.ejs") %>