<%- include("../partials/header.ejs") %>

<h1>
    <% if (locals.postTitle) { %>
        <%= postTitle %>
    <% } %>
</h1>

<p><strong>Dags dato og tidspunkt:</strong> <%= dateTime %></p>

<%- include("../partials/footer.ejs") %>